.custom-block-content {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.accordion-trigger {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}